<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head lang="en">
    <meta charset="utf-8" />
    <title>Spring and Angularjs Tutorial JSP</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/app.css" />

    <script src="./webjars/angularjs/1.5.8/angular.js"></script>
    <script src="./webjars/angularjs/1.5.8/angular-resource.js"></script>
    <script src="./webjars/angularjs/1.5.8/angular-route.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controller.js"></script>
    <link rel="stylesheet" href="./webjars/bootstrap/3.3.7-1/css/bootstrap.css" />
</head>
<body>
<h2>Spring and Angularjs Tutorial JSP</h2>
<div class="home-section">
    <ul class="menu-list">
        <li th:each="m : ${menu}"><a th:href="'#/' + ${m.link}" th:text="${m.name}"></a></li>
    </ul>
</div>
<div ng-view></div>
</body>
</html>